.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
/*Header styles*/
.Header-hotels {
  width: 100%;
  background: linear-gradient(#32e8e5, #505642);
  display: flex;
  flex-direction: column;
  align-items: start;
}
.title h1 {
  margin-left: 2rem;
  color: rgb(253, 251, 251);
}
.paragraph-shedule {
  margin-left: 2rem;
  color: rgb(201, 230, 196);
}

/*Filters-styles*/
.filters-styles {
  width: 100%;
  height: 4rem;
  background: linear-gradient(rgb(180, 106, 133), rgb(158, 179, 86));
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: 20px black;
}
.Dates {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Dates input {
  height: 1.6rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgb(214, 149, 203);
  margin-right: 1rem;
  cursor: pointer;
}
.selects {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selects select {
  cursor: pointer;
  margin-right: 1rem;
  height: 1.6rem;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgb(214, 149, 203);
}
select option {
  cursor: pointer;
  background-color: rgb(246, 252, 248);
}

.reset-button {
  height: 1.6rem;
  border: 20px yellow;
  border-radius: 5px;
  background: linear-gradient(rgb(27, 235, 0), rgb(207, 88, 203));
  box-shadow: 2px 2px 2px 1px rgb(214, 149, 203);
  margin-right: 1rem;
  color: white;
  font-weight: bold;
  width: 5rem;
  cursor: pointer;
}
.reset-button:hover {
  background: linear-gradient(rgb(241, 238, 12), rgb(83, 29, 81));
}

/*Hotels space cards*/
.Hotels-space-cards {
  width: 100%;
  height: 20rem;
  scroll-behavior: smooth;
  background: linear-gradient(
      217deg,
      rgb(189, 247, 187),
      rgba(238, 255, 0, 0) 70.71%
    ),
    linear-gradient(
      127deg,
      rgba(231, 208, 226, 0.8),
      rgba(80, 129, 57, 0) 70.71%
    ),
    linear-gradient(
      336deg,
      rgba(190, 190, 231, 0.938),
      rgba(147, 163, 121, 0) 70.71%
    );
}
